.todo {
  padding: 0 10px;
}
.todo::after {
  content: '';
  display: block;
  clear: both;
}
.todo > * {
  
}
.todo p {
  float: left;
  margin: 0;
}
.todo button[type="button"] {
  padding: 0;
  border: 0 none;
  background: #fff;
  cursor: pointer;
  margin-right: 8px;
}
.todo button[type="button"]:last-child {
  margin-right: 0;
}
.todo .utils {
  float: right;
}